    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Joshua Staley</h2>
              <br/>
                <p>I am a Systems Engineer specializing in automating the virtual infrastructure. Experienced in both public and private cloud engineering with a strong desire to unite the operations and development teams with unified tools.</p>
              
                <br/>
              </div>
        </div>
    </section>
